{% extends 'base.html.twig' %}

{% block title %}Форум{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            {% for post in posts %}

                <div class="pb-4">
                    <div>
                        <b>{{ post.title }}</b>
                    </div>
                    <div>
                       <b>Автор:</b> {{ post.user.username }}
                    </div>
                    <div>
                        <b>Ответов:</b> {{ post.getSubPostsCount }}
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>

{% endblock %}
